extends layout

block content
  .profile
    .title
      img.pic(src="#{headshot}", alt="alt")
      div
        h1= name
        if menu
          ul.links
            each item in menu
                li 
                  a(href=item.url)= item.name
          
    .about
      .description
        p I work as a Customer Success Engineer at ChartMogul. I also study English Literature part-time at Oxford University.
      if experience
        .bio
          table
            thead
              tr
                td Date
                td Role
                td Organisation
            tbody
              for item in experience
                tr
                  td= item.date
                  td= item.role
                  td= item.org
